<!-- User Profile with all Trucks listed-->
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h1>Welcome <%= @user.name %>!</h1>
			<div class="lists">
				<p>GriddleMeet</p>
				<p>My Trucks</p>
        </p>
			</div>
		</div>
	</div>
</div>
