<div id="info-window-container">
  <div class="info-window-title"> <%= link_to truck.name, user_path(truck) %> </div>
  <div class="info-window-content">
    <p class="location"><%= truck.location %></p>
    <%= truck.menu %><br/>
    <%= truck.hours %></p>
  </div>
</div>
